
/* Limpieza página*/

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

@font-face {
    font-family: "Inter Regular";
    src: url("../resources/font/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Black";
    src: url("../resources/font/Inter-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Bold";
    src: url("../resources/font/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter ExtraBold";
    src: url("../resources/font/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter ExtraLight";
    src: url("../resources/font/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Light";
    src: url("../resources/font/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Medium";
    src: url("../resources/font/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter SemiBold";
    src: url("../resources/font/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Thin";
    src: url("../resources/font/Inter-Thin.ttf") format("truetype");
}

/* HEADER */

body{
    height: 100%;
    background: linear-gradient(to bottom, rgba(2,0,36) 0%, rgba(40,81,163) 100%); 
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 117px;
}

.version, .idioma{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #c89c3c5b;
    border-radius: 36px;
    gap: 5px;
    height: 31px;
    padding: 10px;

    font-weight: bold; 
    color:#C89B3C; 
    font-size: 18px;
}

.version select, .idioma select {
    background-color: transparent;
    color: #C89B3C;
    border-style: none;
}

.opcionesMenu {
    display: flex;
    margin-right: 21px;
    gap: 20px;
}

/* HOME MAIN*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    gap: 70px;
}

.titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.h1{
    font-size: 48px;
    color: #866828;
    font-weight: bold;
}

.h2 {
    font-size: 24px;
    color: #FFD989;
    font-weight: bold;
}

.cajas {
    display: flex;
    gap: 59px;
    margin-bottom: 118px;
}

.champions, .items, .summoners, .profilepics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cajaChampions, .cajaItems, .cajaSummoners, .cajaProfilePics {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #c89c3c 0%, #bd9339b6 100%); 
    border-radius: 36px;
    width: 204px;
    height: 204px;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.h3 {
    font-size: 20px;
    color: #C89B3C;
    font-weight: bold;
    text-decoration: none; 
}

.cajas a {
    text-decoration: none; 
}

/* Hover */

.champions:hover .cajaChampions,
.items:hover .cajaItems,
.summoners:hover .cajaSummoners,
.profilepics:hover .cajaProfilePics {
    opacity: 1;
}

/* FOOTER*/

footer {
    position: relative;
    background-color: #000000a2;
    padding: 20px;
}

.footer1 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
}


.links-grid{
    display: grid;
    grid-template-columns: auto auto auto
}

.links-grid a{
    text-decoration: none;
    text-decoration-line: none;

    font-size: 16px;
    font-weight: lighter;  
    color: white;
}

.links-grid a:hover{
    color: #bd9339b6;
}

hr {
    margin-right: 30px;
    margin-left: 30px;
}

.footer2 {
    display: grid;
    justify-content: center;
    color: white;
    font-weight: bolder;
    padding-top: 30px;
}

.footer3 {
    display: flex;
    justify-content: flex-end;
}